#bilego-sell-tickets{background-color: #fff;position:relative;width: 73%;overflow: hidden;}
.bt-map{height:535px;width:100%;-webkit-font-smoothing:antialiased;position:relative; overflow: hidden}
.bt-map > * {opacity: 1;transition: opacity 0.6s}
.bt-map input, .bt-map button, .bt-map a, .bt-map a:hover, .bt-map a:active, .bt-map a:focus{outline:none;box-shadow:none;-webkit-box-shadow:none;}

.btm-map,.bt-container.map,.bt-container.set{height: 100%;}
.btm-map{transform-origin: 0 0;}
.btm-map .btm-map-image{position: absolute;  width: 100%;  height: 100%;  -webkit-touch-callout: none;  -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  }

.dragging{cursor: grabbing}
#bts-tickets-map{background:center center no-repeat;background-size:contain;width:100%;height:100%;/*position:absolute*/}
#bts-tickets-map .poligon{fill:transparent;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
#bts-tickets-map .poligon.active{fill:transparent;opacity:1;stroke:#1e73be !important;stroke-width:40;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:.7;cursor:pointer}

.bt-minimap{
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -1px;
    right: -1px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 140px;
}
.bt-minimap-wr{line-height: 0;}
.bt-minimap img { width: 100%;height: 100%;vertical-align: middle; }
.bt-minimap-overlay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;}
/*!*minimap*!*/
.bt-minimap .bt-minimap-active{position:absolute;opacity:1;top:0;left:0}
.bt-minimap-background{width:140px!important;-webkit-filter:blur(2px);filter:blur(2px)}

circle{transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1)}
.shadow {
    cursor: pointer;
    -webkit-filter: drop-shadow( 0 4px 10px rgba(0,0,0,0.15) );
    filter: drop-shadow( 0 4px 10px rgba(0,0,0,0.15) );
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#bt-tooltip{margin:0;position:absolute;z-index:9999;width:170px;-webkit-font-smoothing:antialiased;}
.bt-tooltip-wrap{background:rgba(255,255,255,0.9);padding:1px;position:relative;box-shadow:0 4px 10px rgba(0,0,0,0.15);}
.bt-tooltip-wrap::after,.bt-tooltip-wrap::before{content:'';width:0;height:0;display:block;overflow:hidden;border-width:6px;border-style:solid;margin-top:0;margin-left:-6px;position:absolute;top:100%;right:50%;bottom:auto;left:50%}
.bt-tooltip-wrap::after{border-color:#fff transparent transparent;z-index:4;-webkit-transform:translate(0,-1px);-ms-transform:translate(0,-1px);transform:translate(0,-1px)}
.bt-tooltip-wrap::before{border-color:rgba(0,0,0,0.1) transparent transparent;z-index:2}
/*.bt-tooltip-arrow{width:6px;height:6px;display:block;overflow:hidden;border-radius:100%;box-shadow:0 4px 10px rgba(0,0,0,0.15);margin:-3px;position:absolute;top:100%;right:50%;bottom:auto;left:50%;z-index:1}*/
/*.bt-tooltip-shadow{color:#111;background:#fff;box-shadow:0 4px 10px rgba(0,0,0,0.15);position:relative;z-index:3}*/
.bt-tooltip-wrap{padding:12px;text-align:center;line-height:1.18em}
.bt-tooltip-wrap .title,.bt-tooltip-wrap .content{color:#111;display:block;font-size:14px}
.bt-tooltip-wrap .title{font-weight: 500}
.bt-tooltip-wrap .descr, .bt-tooltip-wrap.bt-tooltip-wrap-seat .content{color:rgba(0,0,0,0.4);display:block;font-size:12px;margin-top:0px}
.bt-tooltip-wrap .content, .bt-tooltip-wrap.bt-tooltip-wrap-seat .content{margin-top:3px}
.bt-tooltip-wrap-seat{font-weight: 500}
#bt-tooltip .container.seat-tooltip{width:150px}
/*.hidden, .bilego-section .ui-datepicker-trigger{display:none}*/

/*.ready-for-sale{cursor: pointer}*/
/*.event-layout{text-align:right;margin:3px 20px 0;font-size: 0.85em;line-height:45px;;color:#444}*/
/*.event-layout > span{float:left}*/
/*!*zoom*!*/
.bt-zoom-buttons{margin:20px;position:absolute;right:0;bottom:calc(50% - 80px)}
.bt-zoom-buttons a:hover{background-color: #ffb637}
.bt-zoom-buttons a{background-repeat:no-repeat;background-position:center;color:#0c5a40;display:block;cursor:pointer;text-align:center;text-decoration:none;font-size:24px;width:40px;height:40px;line-height:42px;background-color:#f7f7f7;position:relative;}
.bt-zoom-buttons a:active{background-color:#f4f4f4}
.bt-zoom-buttons a.disabled{background-color:#fff;cursor:default}
a.bt-zoomin-button,
a.bt-zoomout-button{background-size:10px 10px}
a.bt-zoomin-button::after,
a.bt-zoomout-button::after{vertical-align:top;position:relative;bottom:4px}
a.bt-zoomin-button::after{content:'+';}
a.bt-zoomout-button::after{content:'-';}
/*!**!*/
/*!*.map-meta{margin-top:10px;height:62px;background-color:#f7f7f7}*!*/
/*.top-menu{background-color:#fff}*/
/*.top-menu-inner{width:100%;max-width:400px;padding:0;margin:0 auto}*/
/*.el-menu{display: inline-block;}*/
/*.el-menu span{text-align: center; display: block;font-size: 13px;color: #222;}*/
/*.el-menu div{height: 2px;margin: 2px;margin-top: 25px;}*/


