html, body {
    background: #1a1a1b;
    height: 100%;
    margin: 0;
    padding: 0;
}

.btm-map-image {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btm-map svg {
    display: block;
    max-width:100%;
    max-height:100%;
    touch-action: none;
    background-repeat: no-repeat;
    background-position: center;
}





.fade-appear{
    opacity: 0;
}
.fade-appear.fade-appear-active{
    opacity: 1;
    -webkit-transition: opacity 800ms linear;
    transition: opacity 800ms linear;
}
